.post-content {
    font-size: 20px;
    color: #212529;
    font-family: Lora,'Times New Roman',serif;
}

p {
    line-height: 1.5;
    margin: 30px 0;
}

#edit-btn {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 800;
    padding: 15px 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
    background-color: #007bff;
    border: none;
    color: #fff;
    margin: 2rem 0;
}

#edit-btn:hover {
    transition: ease-out 0.2s;
    background-color: #006bdd;
}