<app-header backgroundUrl="assets/images/rewrite-edit.jpg" [title]="pageTitle" [subtitle]="pageSubtitle"></app-header>


<div class="container">
    <form #postForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col">
                <input #title="ngModel" ngModel name="title" type="text" id="title" placeholder="Enter post title" required>
            </div>
        </div>
        <div class="row" *ngIf="!title.valid && title.touched">
            <div class="col">
                <ul>
                    <li class="error">Please enter a title</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input #imageUrl="ngModel" ngModel name="imageUrl" type="text" id="image" placeholder="Image url" pattern="(https?:\/\/[^\s]+)" required>
            </div>
        </div>
        <div class="row" *ngIf="!imageUrl.valid && imageUrl.touched && imageUrl.pristine">
            <div class="col">
                <ul>
                    <li class="error">Please enter image url</li>
                </ul>
            </div>
        </div>
        <div class="row" *ngIf="!imageUrl.valid && imageUrl.touched && !imageUrl.pristine">
            <div class="col">
                <ul>
                    <li class="error">Please make sure the image url starts with <strong>http(s)://</strong></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ejs-richtexteditor #richTextEditor>
                    <ng-template #valueTemplate>
                        
                    </ng-template>
                </ejs-richtexteditor>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <button id="post-btn" type="submit">Post</button>
            </div>
        </div>
    </form>
</div>