<hr>
<footer>
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <ul>
                    <li>
                        <a href="https://twitter.com/rifatcholakov" target="_blank">
                            <fa name="twitter"></fa>
                        </a>
                    </li>
                    <li>
                        <a href="https://facebook.com/rifatcholakov" target="_blank">
                            <fa name="facebook"></fa>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/rifatcholakov" target="_blank">
                            <fa name="github"></fa>
                        </a>
                    </li>
                </ul>
                <p class="footer-copy">&copy; {{ year }} RifatCholakov</p>
            </div>
        </div>
    </div>
</footer>