<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container">
        <a class="navbar-brand" routerLink="/">{{ blogName }}</a>
        <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" id="mobile-menu-button">
            Menu
            <fa name="bars"></fa>
        </button>
        <div class="navbar-collapse collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <div *ngIf="this.auth.isLoggedIn">
                        <a (click)="auth.SignOut()" class="nav-link" id="logout-btn">Sign out</a>
                    </div>
                    <div *ngIf="!this.auth.isLoggedIn">
                        <a (click)="auth.GoogleAuth()" class="nav-link" id="login-btn"><fa name="google"></fa> Sign in</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>