nav {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 800;
    background-color: #fff;
    position: absolute;
    z-index: 100;
    width: 100%;
    padding-top: 1.5rem;
}

#mobile-menu-button {
    color: #343a40;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    padding: 13px;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.nav-link {
    display: block;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    color: rgba(0,0,0,.5);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.nav-link:hover {
    color: #007bff !important;
}

a:hover {
    cursor: pointer;
}

@media only screen and (min-width: 992px) {
    #mainNav {
        border-bottom: 1px solid transparent;
        background: 0 0;
        color: #fff;
        transition: background-color .2s;
        transform: translate3d(0,0,0);
    }

    .nav-link {
        color: #fff !important;
    }

    .navbar-brand {
        color: #fff;
    }

    .navbar-brand:hover {
        color: #fff !important;    
    }

    .navbar-expand-lg {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
}

