<app-header title="Create an Account" subtitle="" backgroundUrl="/assets/images/login.jpg"></app-header>
<div class="container">
    <div class="row">
        <div class="col-xl-8 col-lg-10 mx-auto">
            <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col">
                        <input #userEmail="ngModel" ngModel type="email" name="email" class="email input" placeholder="Email" pattern="\S+@\S+\.\S+" required>
                    </div>
                </div>
                <div class="row" *ngIf="(userEmail.value === '') && userEmail.touched && userEmail.pristine">
                    <div class="col">
                        <ul>
                            <li class="error">Please enter an email</li>
                        </ul>
                    </div>
                </div>
                <div class="row" *ngIf="!userEmail.valid && userEmail.touched && !userEmail.pristine">
                    <div class="col">
                        <ul>
                            <li class="error">Please enter valid email</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input #userPassword="ngModel" ngModel type="password" name="password" class="password input" placeholder="Password" minlength="6" required>
                    </div>
                </div>
                <div class="row" *ngIf="(userPassword.value === '') && userPassword.touched && userPassword.pristine">
                    <div class="col">
                        <ul>
                            <li class="error">Please enter a password</li>
                        </ul>
                    </div>
                </div>
                <div class="row" *ngIf="(userPassword.validator.length < 6) && userPassword.touched && !userPassword.valid && !userPassword.pristine">
                    <div class="col">
                        <ul>
                            <li class="error">The password should be at least 6 characters long</li>
                        </ul>
                    </div>
                </div>
                <button type="submit" class="register-btn">Register</button>
            </form>
            <div class="have-account">
                <span>Already have an account? <span class="redirect" routerLink="/login">Log In</span></span>
            </div>
        </div>
    </div>
</div>