body {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.input {
    width: 100%;
    margin: 2rem 0;
    font-size: 28px;
    padding: 1rem;
    outline: none;
    border: none;
    border-bottom: 2.5px solid rgba(0, 0, 0, 0.1);
    font-weight: 700;
}

.register-btn {
    font-size: 14px;
    font-weight: 800;
    padding: 15px 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
    background-color: #007bff;
    border: none;
    color: #fff;
    margin: 2rem 0;
}

#register-btn:hover {
    transition: ease-out 0.2s;
    background-color: #006bdd;
}

.have-account {
    font-size: 18px;
}

.redirect {
    font-weight: 600;
    cursor: pointer;
}

.redirect:hover {
    color: #006bdd;
}

.error {
    color: #D8000C;
    font-size: 18px;
}

.auth-error {
    list-style-type: none;
    padding-left: 0;
}

@media all and (max-width: 992px) {
    .register-btn {
        width: 100%;
    }
}