<app-header title="Contact" subtitle="Have a project in mind? Let's talk." backgroundUrl="/assets/images/contact.jpg" ></app-header>

<div class="container">
    <div class="row mx-auto">
        <div class="col-lg-2 mx-auto section">
            <h3 class="section-title">Email Me</h3>
            <p class="section-text"><a href="mailto:contact@rifatcholakov.com">contact@rifatcholakov.com</a></p>
        </div>

            <span class="devider">or</span>

        <div class="col-lg-2 mx-auto section">
            <h3 class="section-title">Call Me</h3>
            <p class="section-text"><a href="tel:+17073362217">+1 707-336-2217</a></p>
        </div>
    </div>
</div>