.section-title {
    font-weight: 800;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    margin: 1rem 0;
}

a {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #212529;
    font-size: 18px;
}

@media all and (max-width: 992px) {
    .section,
    .section-text {
        text-align: center;
        display: inline-block;
    }

    .devider {
        margin: 0 auto;
    }
}